<div class="orders-hero">

  <!-- Overlay -->
  <div class="hero-overlay"></div>

  <!-- Center container -->
  <div class="orders-container">

    <div class="orders-card animate-in">

      <!-- HEADER -->
      <div class="orders-header">
        <div class="icon-wrapper">
          <i class="bi bi-receipt-cutoff"></i>
        </div>

        <h3>
          {{ role === 'MANUFACTURER' ? 'Incoming Orders' : 'Orders' }}
        </h3>
        <p>
          Review and manage order requests
        </p>
      </div>

      <!-- LOADING -->
      <div *ngIf="loading" class="alert-info-box">
        Loading orders...
      </div>

      <!-- ERROR -->
      <div *ngIf="message && !loading" class="alert-warning-box">
        {{ message }}
      </div>

      <!-- TABLE -->
      <div *ngIf="orders.length > 0 && !loading" class="table-responsive">
        <table class="orders-table">

          <thead>
            <tr>
              <th>Order ID</th>
              <th>Ordered By</th>
              <th>Product</th>
              <th>Quantity</th>
              <th>Status</th>

              <th *ngIf="role === 'MANUFACTURER' || role === 'WHOLESALER'">
                Action
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let o of orders">

              <td>#{{ o.id }}</td>
              <td> {{o.user?.username}} </td>
              <td>{{ o.product?.name }}</td>
              <td>{{ o.quantity }}</td>

              <td>
                <span class="status confirmed" *ngIf="o.status === 'CONFIRMED'">
                  Confirmed
                </span>

                <span class="status pending" *ngIf="o.status === 'PENDING'">
                  Pending
                </span>

                <span class="status shipped" *ngIf="o.status === 'SHIPPED'">
                  Shipped
                </span>

                <span class="status cancelled" *ngIf="o.status === 'CANCELLED'">
                  Cancelled
                </span>
              </td>

              <td *ngIf="role === 'MANUFACTURER' || role === 'WHOLESALER'">
                <button
                  class="btn approve"
                  (click)="updateStatus(o.id, 'CONFIRMED')"
                  [disabled]="o.status !== 'PENDING'">
                  Approve
                </button>

                <button
                  class="btn reject"
                  (click)="updateStatus(o.id, 'CANCELLED')"
                  [disabled]="o.status !== 'PENDING'">
                  Reject
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>

      <!-- EMPTY STATE -->
      <div *ngIf="orders.length === 0 && !loading && !message"
           class="empty-state">
        No orders found.
      </div>

    </div>

  </div>

</div>